canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

content {
  position: relative;
  width: 80%;
  text-align: center;
  width: 100%;
}